@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.chat-bubble {
  position: relative;
  border-radius: 18px;
  word-break: break-word;
}

/* Sent bubble */
.chat-sent {
  border-top-right-radius: 5px;
}

.chat-sent::after {
  content: "";
  position: absolute;
  top: 0;
  right: -7px;
  width: 8px;
  height: 14px;
  background: #16a34a;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

/* Received bubble */
.chat-received {
  border-top-left-radius: 5px;
}

.chat-received::after {
  content: "";
  position: absolute;
  top: 0;
  left: -7px;
  width: 8px;
  height: 14px;
  background: #374151;
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}

@layer base {}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}